acres
aiofiles
annotated-types
anyio
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
ci-info
click
cloudpathlib
colorama
comtypes
confection
configobj
configparser
groq
cryptography
cymem
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
etelemetry
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
idna
Jinja2
joblib
langcodes
language_data
looseversion
lxml
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
murmurhash
networkx
nibabel
nipype
numpy
packaging
pandas
pathlib
pdfminer
pdfminer.six
pillow
preshed
proto-plus
protobuf
prov
puremagic
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydantic
pydantic_core
pydot
pydub
Pygments
PyMuPDF
pyparsing
pypiwin32
python-dateutil
python-dotenv
python-multipart
pyttsx3
pytz
pywin32
pyxnat
PyYAML
rdflib
regex
requests
rich
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
simplejson
six     
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
starlette
sympy
thinc
threadpoolctl
tokenizers
torch
tqdm
traits
transformers
typer
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
wasabi
weasel
wrapt